fastapi==0.104.1
uvicorn==0.24.0
pydantic==2.7.4
python-dotenv==1.0.0

langchain==0.2.14
langchain-core==0.2.43
langchain-community==0.2.10
langchain-google-genai==1.0.10
langsmith==0.1.147

faiss-cpu==1.8.0
sentence-transformers==3.0.1
numpy==1.26.4

linkedin-api==2.3.1